
.search-bar:focus{
  box-shadow: none;
  border-color:transparent;
}
.search-bar{
  width:150px;
}
@media (min-width: 576px){
  .search-bar{
    width:180px;
  }
}

@media (min-width: 768px) {
  .search-bar{
    min-width: 240px;
    margin-right: 5px;
  }
}
