div.app-header, div.view-tabs{
  font-size:2em;
  font-style: bold;
  display : block;
  width : 100%;
}
.navbar{
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-brand{
  font-family: "Verdana";
  font-size: 30px;
  color: white;


}
.container-fluid{
  background-image: url('../../assets/winew.jpg');
  object-fit: cover;

}
.headerBar{
  padding-bottom: 0px;
  padding-top: 5px;
  background-color: red;

}


ul.app-header {
  list-style-type : none;
  margin : 0;
  padding : 0 0 5px 0;


}

ul.app-header i{
  display : inline;

}
.dropdown{
  text-align: right;
}
.dropdown-menu{
  text-align: right;
}
.dropdown-toggle{
  background-color: black;
}

ul.app-header li a {
  padding : 4px;
}

ul.view-tabs {
  list-style-type : none;
  margin : 0;
  padding : 0 0 5px 0;
}
ul.view-tabs li {
  display : inline;
  border : 2px solid black;
}
ul.view-tabs li a {
  padding : 4px;
}

/* Mobile View */
[class*="col-"]{
  width:100%;
}

@media only screen and (min-width:786px){

}


