#app-header{
  padding-bottom: 10px;
  background-color: #002642;
  color: #EDEDF4;
}
.options-toggle{
  padding: 3px 10px;
  background-color: #64A77E;
  color: #EDEDF4;
}
.options-toggle:focus{
  box-shadow: none;
}
.options-toggle:hover, .options-toggle:active, .showFilters{
  background-color: #7BBD94;
  box-shadow: none;
}
.nav-options>div, .nav-options>button{
  display: inline-block;
}

/* Extra small devices <576 */
.brand-icon{
  display: inline-block;
  color: #EDEDF4;
  font-size: 1.3em;
  margin-left: 5px;
}
.brand-text{
  display: none;
}
.search-bar:focus{
  box-shadow: none;
  border-color:transparent;
}
.search-bar{
  width:130px;
  margin-right: 5px;
}

/* Small devices >=576 */
@media (min-width: 576px) {
  .brand-icon {
    display: none;
  }
  .brand-text {
    display: inline-block;
  }
  .search-bar{
    width:167px;
    margin-right: 8px;
  }
}
@media (min-width: 768px) {
  .search-bar{
    min-width: 290px;
    margin-right: 15px;
  }
  .options-toggle{
    margin-right: 5px;
  }
}
/* Large devices >= 992 */
@media (min-width: 992px){
  #app-header > div{
    margin: 0 30px;
  }
  .search-bar{
    min-width: 380px;
  }
}

