<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Madison Art & Event Calendar</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" (click)="filterMenu()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4>Filters</h4></a>
      </li>
    </ul>
    </div>
    <div>
      <li>
        <app-search></app-search>
      </li>
    </div>
  </div>
</nav>

<div *ngIf="filterMenuDisplayed">
  <app-options-menu></app-options-menu>
</div>

