<div id="app-header">
  <div>
    <nav class="navbar navbar-dark" id="app-nav">
      <div class="navbar-brand app-brand">
        <a id="app-brand" routerLink="/list-view">
          <span class="brand-text"><h3 style="margin-top: 0; margin-bottom: -5px;">The Madison ArtBeat</h3></span>
          <span class="oi oi-home brand-icon" data-glyph="home" title="home" aria-hidden="true" ></span>
        </a>
        <br>
        <span class="brand-text">Arts & Events Calendar</span>
      </div>
      <div class="nav-options">
        <div>
          <input [value]="words" (keyup)="words = $event.target.value;filter.setSearch(words)" type="text"
                 class="form-control form-control-sm search-bar"
                 placeholder="search">
        </div>
        <button type="button" class="btn options-toggle" [ngClass]="{showFilters : showFilters}" (click)="filterMenu()">Filter</button>
      </div>
    </nav>
    <ng-container *ngIf="showFilters">
      <app-options-menu></app-options-menu>
    </ng-container>
  </div>
</div>
