#app-header{
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  background-color: var(--dark-bg);
  color: var(--light-text);
}
.options-toggle{
  padding: 3px 10px;
  background-color: var(--light-blue);
  color: var(--dark-bg);
}
.options-toggle:hover, .options-toggle:active{
  border-color: var(--blue) !important;
  background-color: var(--blue);
}

.nav-options>div, .nav-options>button{
  display: inline-block;
}
/* Extra small devices <576 */
.app-brand, .app-brand:hover{
    text-decoration: none;
}
.brand-icon{
  display: inline-block;
  color: var(--light-text);
  font-size: 1.3em;
  margin-left: 5px;
}
.brand-text{
  display: none;
  color: var(--light-text);
}
.search-bar:focus{
  box-shadow: none;
  border-color:transparent;
}
.search-bar{
  width:130px;
  margin-right: 5px;
}
.form-control-clear{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  outline: none;
}
.hide-close{ display: none; }
/*** BREAKPOINTS ***/
@media (min-width: 576px) {
  .brand-icon {
    display: none;
  }
  .brand-text {
    display: inline-block;
  }
  a.app-brand:active, a.app-brand:hover{ border-bottom: 1px solid var(--light-text) }
  .search-bar{
    width:167px;
    margin-right: 8px;
  }

}
@media (min-width: 768px) {
  .app-brand{
    margin-top: 10px;
  }
  .search-bar{
    min-width: 290px;
    margin-right: 15px;
  }
  .options-toggle{
    margin-right: 5px;
  }
  .form-control-clear{
    bottom: 3px;
    right: 20px;
  }
}
/* Large devices >= 992 */
@media (min-width: 992px){
  #app-header > div{
    margin: 0 30px;
  }
  .search-bar{
    min-width: 380px;
  }
}

