#pagenotfound{
  background-color: var(--secondary-bg);
  color: var(--black);
  width: 100%;
  max-width: 768px;
  text-align: center;
  padding: 30px 40px;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

