#app-body{
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--light-bg);
}
#view-toggle{
  margin: 0 -15px;
  width: auto;
  background-color: var(--dark-bg);
}
.view-tabs{
  margin: 0 auto;
  border-bottom:none;
  font-size: 1.3rem;
  line-height: 1.2rem;
  text-align: center;
  font-weight: bold;
}
#list-view-toggle{  border-right: solid 1px var(--light-bg);  }
#list-view-toggle,#cal-view-toggle{
  margin-bottom: 8px;
  padding-bottom: 2px;
}
#list-view-toggle.active, #cal-view-toggle.active{
  color: var(--light-text);
  background-color: transparent;
}
#list-view-toggle.active>span, #cal-view-toggle.active>span{ border-bottom: solid 1px var(--light-text); }
#list-view-toggle.passive, #cal-view-toggle.passive{
  background-color: transparent;
  color: #EDEDF4;
  text-decoration: none;
}
#list-view-toggle.passive>span:hover, #cal-view-toggle.passive>span:hover{ border-bottom: solid 1px var(--light-text);  }

@media (min-width: 768px){
  #app-body{
    background: var(--light-bg) url("../assets/night-skyline.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #view-toggle{
    margin: 0 -15px;
  }
  .view-tabs{
    max-width: 750px;
    margin: 0 auto;

  }
  #main-view, #calendar-view {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}



