

#list-view-toggle.passive, #cal-view-toggle.passive{
  background-color: #545657;
  color: #fff;
}
#list-view-toggle.passive:hover, #cal-view-toggle.passive:hover{
  background-color: #737475;
  border-color: transparent;
  color: #fff;
}




