<div id="app-bg"></div>
<app-header></app-header>
 <!--View Tabs ( List / Calendar )-->
<div class="container-fluid" id="app-body">
  <div id="view-toggle">
    <ul class="row nav view-tabs">
      <li class="col-6 nav-item no-gutter">
        <a routerLink="/list-view" class="nav-link rounded-0" id="list-view-toggle" (click)="toggleView()" [ngClass]="{active : view, passive : !view}" ><span class="tab-text">List</span></a>
      </li>
      <li class="col-6 nav-item no-gutter">
        <a routerLink="/cal-view" class="nav-link active rounded-0" id="cal-view-toggle" (click)="toggleView2()" [ngClass]="{active : !view, passive : view}" ><span class="tab-text">Calendar</span></a>
      </li>
    </ul>
  </div>

  <div  id="main-view" class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
