
.button {
  display: table-cell;
  background: darkgray;
  border: solid;
  text-align: center;
  width: 100%;
  display: inline;
  font-size: large;
  font-family: "Verdana";
}
.no-gutter{
  margin: 0 0;
  padding: 0 0;
}
.button:active{
  border: 2px solid white;
}

.button:target{
  border: 2px solid red;
}

.button:hover{
  background-color: lightgray;
}

.container{
  background: transparent;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: table;

}


