/* Extra Small Devices */

#feedback-modal {
  min-width:100vw;
  min-height:90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  z-index: 1050;
}

#modal-container:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #EDEDF4;
  z-index: 1040;
  opacity: 0.6;
}


#modal-container{

}
.feedback-header{
  padding:0;
}
.close-feedback{
  padding: 15px 15px 0 0;

}
.event-feedback{

}


@media (min-width: 768px) {
  #feedback-modal {
    min-width: 0;
    min-height: 0;
    max-width: 70vw;
    margin-top: 5vh;

  }
}
@media (min-width: 992px) {
  #feedback-modal {  max-width: 60vw;  }
}


