/* Extra Small Devices */

#feedback-modal {
  min-width:98vw;
  min-height:98vh;
}

#modal-container{
  overflow-y: scroll;
}

@media (min-width: 768px) {
  #feedback-modal {
    margin: auto;
    min-width: 10px;
    min-height: 10px;
    max-width: 50vw;
  }
}
/*.feedback-header{*/
  /*padding:0;*/
/*}*/
/*.close-feedback{*/
  /*padding: 15px 15px 0 0;*/
/*}*/
/*.event-feedback{*/
  /*max-height:40px; !*two lines*!*/
  /*overflow:hidden;*/
/*}*/
/*.event-feedback:after{*/
  /*content: "";*/
  /*text-align: right;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*width: 70%;*/
  /*height: 20px;*/
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
/*}*/

