#options-menu{
  display: none;
}
#options-menu.showFilters{
  display: block;
  margin: 0 15px;
}

.filter-tab{
  color: var(--light-bg);
  border-bottom: none;
}
.filter-tab:hover{
  border-bottom: none;
  border-color: var(--light-bg);
}
a.filter-tab.active, a.filter-tab.active:hover{
  background-color: var(--light-bg);
  color: #A20021;
}
#filter-tabs{ border: none; }
.filter-container{
  border: solid 2px var(--light-bg);

}
.filter-container{
  -webkit-flex-flow: row wrap;
  flex-flow:row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: space-around;
  align-content: space-around;
}
.filter{
  margin: 10px auto;
  position: relative;
}
.filter-btn{
  width: auto;
  min-width: 100px;
  height : 40px;
  font-size:1.1em;
  font-weight: lighter;
  color: var(--light-bg);
  background-color: transparent;
  border-color: var(--light-bg);
}
.filter-btn:focus{
  border-color: inherit;
  box-shadow: none;
  outline:none;
}
.filter-btn:hover, .filter-btn:active{
  border-color: var(--red);
}
.selection-bar{
  width: 100%;
  height: 3px;
  position: absolute;
  left:0;
  top: 1px;
  background-color: #66CC44;
  display: none;
}

.selection-bar.filterOn{
  display: block;
}
span.selection-bar::before{  content: '';}
.filterOn>span{
  display: inherit;
}
a.clear-filters{
  background-color: var(--red);
  border: 1px solid var(--red);
  border-bottom: none;
}
.clear-filters{ border-bottom: none; }
li.clear-filters{
  margin-bottom: 0;
  margin-top: -1px;
}
div.clear-filters{ display: none; }
div.clear-filters.filtering{  display: block;}
/*** BREAKPOINTS ***/
@media (min-width: 576px){

}
@media (min-width: 768px){
  #options-menu.showFilters{
    max-width: 750px;
    margin: 0 auto;
  }
}


