button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-group .btn-group-justified{
  height: 40px;
  line-height: 40px;
}
.btn-primary{
  width:25%;
  display: table-cell;
  background: firebrick;
  border-color: #000;
  border-width: 2px;
  text-align: center;
  font-size: large;
  font-family: "Verdana";
  border-right-width: 0;
}
#locationTab { border-right-width: 2px;}
.btn-primary:hover{
  background: crimson;
}

.btn-primary1{
  width:100%;
  display: table-cell;
  background: firebrick;
  border: solid black;
  border-width: 2px;
  text-align: center;
  font-size: large;
  font-family: "Verdana";
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.btn-primary1:hover{
  background: crimson;
}

.filter-options{
  border-top-width: 0;
}

