
/* Custom Color Properties */
:root{
  --dark-bg: #002642;
  --light-bg: #EDEDF4;
  --dark-text: #000;
  --light-text: #EDEDF4;
  --links: #A20021;

  --dark-blue: #002642;
  --blue: #006CB5;
  --light-blue: #2892D7;
  --green: #66CC44;
  --dark-red: #A20021;
  --red: #CC0028;
}
/* use the html.can-touch selector to rid of sticky hover styles on mobile devices, add specific element id's/classes if needed to this */
html.can-touch a:hover, html.can-touch button:hover{
  border-color: inherit !important;
}
html.can-touch .options-toggle:hover {
  background-color: var(--light-blue) !important;
}
/* Use this class to get rid of right/left padding from bootstrap columns */
.no-gutter{
  padding-left: 0;
  padding-right: 0;
}
body{
  background-color: #EDEDF4;
}
a, a:hover{  color: var(--links);  }
button {
  border-style: solid;
}
/* some bootstrap bs */
button:focus, button:active, button:hover{
  box-shadow: none !important;
  outline: none !important;
}

