/* Use this class to get rid of right/left padding from bootstrap columns */
.no-gutter{
  padding-left: 0;
  padding-right: 0;
}
body{
  background-color: #EDEDF4;
}

/* Custom Color Properties */
:root{
  --dark-bg: #002642;
  --light-bg: #EDEDF4;
  --warn: #C21F39;
  --dark-text: #000;
  --light-text: #EDEDF4;
}

.noScrollForYou {
  overflow: hidden;
}
body.noScrollForYou:after{
  content: ' ';
  background-color: #EDEDF4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  opacity: 0.6;
}
