div.eventItem {
  border: solid 3px black;
}
.eventDescription {
  text-align : left;
}
p.eventDescription {
}

div.genre-music {
  background-image: url('../../assets/note.png');
  width: 50px;
  height: 50px;
  -webkit-background-size: 100%;
  background-size: 100%;
}
