<div *ngIf="eventItem&&eventItem.title" class="eventItem">
  <div class="d-flex">
    <div class="eventInfo">
      <h2>{{eventItem.title}}</h2>
      <h3><span *ngIf="eventItem.time"> {{eventItem.time}}</span>
        <span *ngIf="eventItem.cost">, ${{eventItem.cost}}</span>
        <span *ngIf="eventItem.cost==0">, Free</span>
      </h3>
    </div>
    <div class="reportButton">
      <button (click)="reportModal.show()">Feedback</button>
    </div>
  </div>

  <div id="showDescription">
    <div class="d-flex">
      <div class="eventDescription"*ngIf="eventItem.description">
        <p>{{eventItem.description}}</p>
      </div>
    </div>
  </div>

</div>

<app-report [eventItem] = 'eventItem' #reportModal></app-report>


